.title{
    color: sienna;
    font-size: 60;
    font: Snell Roundhand, cursive;
    text-align: center;

}

.header{
    color: bisque;
    font: DejaVu Sans Mono, monospace;

}

.body{
    color: chocolate;
    font: Arial Narrow, sans-serif;


}
